@charset "UTF-8";
:root {
    --geist-space: 4px;
    --geist-space-2x: 8px;
    --geist-space-4x: 16px;
    --geits-space-8x: 32px;
    --geist-space-16x: 64px;
    --geist-space-32x: 128px;
    --geist-space-small: 32px;
    --geist-space-medium: 40px;
    --geist-space-large: 48px;
    --geist-space-gap: 24px;
    --geist-space-gap-half: 12px;
    --geist-space-gap-quarter: var(--geist-space-2x);
    --geist-gap: var(--geist-space-gap);
    --geist-gap-half: var(--geist-space-gap-half);
    --geist-gap-quarter: var(--geist-space-gap-quarter);
    --geist-gap-double: var(--geist-space-large);
    --shadow-small: 0 5px 10px rgba(0,0,0,0.12);
    --geist-background: #fff;
    --geist-space-negative: -4px;
    --geist-space-2x-negative: -8px;
    --geist-space-4x-negative: -16px;
    --geits-space-8x-negative: -32px;
    --geist-space-16x-negative: -64px;
    --geist-space-32x-negative: -128px;
    --geist-space-small-negative: -32px;
    --geist-space-medium-negative: -40px;
    --geist-space-large-negative: -48px;
    --geist-space-gap-negative: -24px;
    --geist-space-gap-half-negative: -12px;
    --geist-space-gap-quarter-negative: var(--geist-space-2x-negative);
    --geist-gap-negative: var(--geist-space-gap-negative);
    --geist-gap-half-negative: var(--geist-space-gap-half-negative);
    --geist-gap-quarter-negative: var(--geist-space-gap-quarter-negative);
    --geist-gap-double-negative: var(--geist-space-large-negative);
    --geist-page-margin: var(--geist-space-gap);
    --geist-page-width: 1000px;
    --geist-page-width-with-margin: 1048px;
    --geist-radius: 5px;
    --geist-marketing-radius: 8px;
    --geist-cyan: #79ffe1;
    --geist-cyan-dark: #50e3c2;
    --geist-cyan-darker: #29bc9b;
    --geist-purple: #f81ce5;
    --geist-violet: #7928ca;
    --geist-alert: #ff0080;
    --font-sans: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    --font-mono: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace;
    --header-height: 64px;
    --header-border-bottom: inset 0 -1px 0 0 rgba(0,0,0,0.1);
    --header-background: hsla(0,0%,100%,0.8);
    --geist-form-large-font: 1rem;
    --geist-form-large-line-height: 1.5rem;
    --geist-form-large-height: var(--geist-space-large);
    --geist-form-small-font: 0.875rem;
    --geist-form-small-line-height: 0.875rem;
    --geist-form-small-height: var(--geist-space-small);
    --geist-form-font: 0.875rem;
    --geist-form-line-height: 1.25rem;
    --geist-form-height: var(--geist-space-medium);
}

:root{
    --max-width: 1040px;
    --color-main: #292929;
    --color-black: #000;
    --color-grey: #666;
    --main-color: #303133;

    --content-color: #606266;
    --tips-color: #909399;
    --light-color: #c0c4cc;
    --border-color: #e4e7ed;
    --bg-color: #f3f4f6;
    
    --type-primary: #2979ff;
    --type-primary-light: #ecf5ff;
    --type-primary-disabled: #a0cfff;
    --type-primary-dark: #2b85e4;
    
    --type-warning: #ff9900;
    --type-warning-disabled: #fcbd71;
    --type-warning-dark: #f29100;
    --type-warning-light: #fdf6ec;
    
    --type-success: #19be6b;
    --type-success-disabled: #71d5a1;
    --type-success-dark: #18b566;
    --type-success-light: #dbf1e1;
    
    --type-error: #fa3534;
    --type-error-disabled: #fab6b6;
    --type-error-dark: #dd6161;
    --type-error-light: #fef0f0;
    
    --type-info: #909399;
    --type-info-disabled: #c8c9cc;
    --type-info-dark: #82848a;
    --type-info-light: #f4f4f5;
    

}