/**********默认按钮***************/
.common-btn{
	height: var(--btn-height,48px);
	/* background-color: #2E74F3; */
	border-radius: var(--radius,0);
	box-shadow: 0 2px 2px 0px var(--btn-shadow-color);
}
