
/* 顶部样式 */
.navbar-custom {
    padding: 0 22px 0 37px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--head-top,72px);
    z-index: var(--index100);
    background-color: #fff;
    -webkit-box-shadow: 0 0.05rem 0.01rem rgba(75,75,90,.075);
    box-shadow: 0 0.05rem 0.01rem rgba(75,75,90,.075);
}