@import "./header.css";/*头部样式*/
@import "./side.css";/*侧边栏样式*/
@import "./btn.css"; //

/* 主体样式 */
.content-page{
    margin-left: var(--content-left,250px);
    overflow: hidden;
    padding: 0 12.5px 5px 12.5px;
    min-height: 80vh;
    margin-top: 72px;
}





/**************镂空字体***********************/
.hollowOut{
	color: transparent;
	background-clip:text;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent; /*文字的填充色*/
	-webkit-text-stroke: 1.2px #000; /*文字的边框*/
}

.aside{
	overflow: auto;
	float: left;
	height: 100%;
	width: auto;
}



