@import "./header.css";/*头部样式*/


/* 侧边栏样式 */
.left-side-menu {
    width: var(--slide-width,250px);
    background: #fff;
    bottom: 0;
    padding: 0 0 30px 0;
    position: fixed;
    top: 72px;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-box-shadow: 1px 0.05rem 0.01rem rgba(75,75,90,.075);
    box-shadow: 1px 0.05rem 0.01rem rgba(75,75,90,.075);
    z-index: var(--index90);
}
/* 主体样式 */
.content-page{
    margin-left: var(--slide-width,250px);
    overflow: hidden;
    padding: 0 12.5px 5px 12.5px;
    min-height: 80vh;
    margin-top: 72px;
}




/**********默认按钮***************/
.common-btn{
	height: var(--btn-height,);
	/* background-color: #2E74F3; */
	border-radius: var(--radius,0);
	box-shadow: 0 2px 2px 0px var(--color-theme);
}

/**************镂空字体***********************/
.hollowOut{
	color: transparent;
	background-clip:text;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent; /*文字的填充色*/
	-webkit-text-stroke: 1.2px #000; /*文字的边框*/
}


.aside{
	overflow: auto;
	float: left;
	height: 100%;
	width: auto;
}



