.geist-spacer{
    display: block;
    width: 1px;
    height: 1px;
    margin-left: 15.25pt;
    margin-top: 15.25pt;
}

.full-screen{
    width: 100%;
    height: auto;
}
/************************外层容器**********************************/
.holder{
    max-width: var(--max-width);
    width: auto;
    margin: 0 auto;
    padding: 0 24px;
}
/***********************小按钮***************************************/

.mini-btn{
    display: inline-block;
    width: auto;
    height: 24px;
    line-height: 22px;
    font-size: var(--font-main);
    padding: 0 10px 0 10px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    transition: color,border 0.2s ease;
    color: var(--color-grey);
    cursor: pointer;
}
.mini-btn:hover,.mini-btn.hover{
    color: var(--color-black);
    border-color: var(--color-black);
}

/***************************填充色按钮**************************************/

.fill-btn{
    -webkit-appearance: none;
    position: relative;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    line-height: 38px;
    white-space: nowrap;
    font-weight: 500;
    font-family: var(--font-sans);
    min-width: 200px;
    height: 40px;
    font-size: 14px;
    flex-shrink: 0;
    color: #fff;
    background-color: #000;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    padding: 0px 25px;
    margin: 0px;
    transition: all 0.2s ease 0s;
    overflow: hidden;
    outline: none;
    border: 1px solid #000;
    border-radius: var(--geist-radius);
}
.fill-btn:hover,.fill-btn.hover{
    color: #000;
    background-color: #fff;

}

/******************标题************************/
.main-title{
    font-size: 36px;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
}

.subtitle{
    color: var(--color-grey);
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}

/*****************跳转链接**************************/

.a-link{
    color: #0070f3;
    font-size: inherit;
    text-decoration: none;
}
.a-link::after{
    content: ' →';
}
.a-link.hover,.a-link:hover{
    text-decoration: underline;
}
.dark_link{
    color: #000;
    font-weight: 500;
    text-decoration: none;
    padding: 0.5em;
    cursor: pointer;
}
.dark_link:hover,.dark_link.hover{
    color: #000;
    text-decoration: underline;
}