/**********************盒模型**********************/

/************边框*********************/

.bor{
	border: 1px solid var(--blorder-color);
}
.bor_btm{
	border-bottom: 1px solid var(--blorder-color);
}
.bor_top{
	border-top: 1px solid var(--blorder-color);
}
.bor_rg{
	border-right: 1px solid var(--blorder-color);
}
.radius_6{
	border-radius: 6px;
}
.radius_8{
	border-radius: 8px;
}
.radius_10{
		border-radius: 1.33333vw;
}
.radius_12{
		border-radius: 1.6vw;
}
.radius_16{
	border-radius: 2.133333vw;
}
.radius_18{
	border-radius: 2.4vw;
}
.radius_20{
	border-radius:  2.66667vw;
}
.radius_22{
	border-radius: 2.93333vw;
}
.radius_30{
	border-radius: 4vw;
}

.radius_32{
	border-radius: 4.266667vw;
}
.radius_36{
	border-radius: 4.8vw;
}
.radius_38{
	border-radius: 5.066667vw;
}
.radius_c{
	border-radius: 50%;
}
/*******************************/
.block{
	display: block !important;
	width:100%;
}
.line_block{
	display: inline-block !important;
}

/*阴影*/
.shadow {
	box-shadow: 0 0 3px 0px rgba(14,14,14,0.2);
}
