/************弹性布局*****************/

.flex_wrap {
	flex-wrap: wrap;
  }
  
  .flex_nowrap {

	flex-wrap: nowrap;
  }
  
  .flex_reverse {
	flex-direction: column !important;
  }
  
  .flex_rg {
	justify-content: flex-end;
	align-content: flex-end; /*多行*/
	align-items: flex-end; /*单行*/
  }
  
  .flex_top {
	align-content: flex-start; /*多行*/
	align-items: flex-start; /*单行*/
  }
  
  .flex_btm {
	align-content: flex-end; /*多行*/
	align-items: flex-end; /*单行*//*align-content: flex-end;/*多行*//*align-items: flex-end;/*单行*/
  }
  
  .flex_center {
	justify-content: center;
	align-content: center; /*多行*/
	align-items: center; /*单行*/
  }
  
  .flex_center_x {
	justify-content: center;
  }
  
  .flex_center_y {
	align-content: center; /*多行*/
	align-items: center; /*单行*/
  }
  
  .flex_between {
	justify-content: space-between;
	align-content: space-between; /*多行*/
  }
  
  .flex_between_x {
	justify-content: space-between;
  }
  
  .flex_between_y {
	align-content: space-between; /*多行*/
  }
  
  .flex_around {
	justify-content: space-around;
	align-content: space-around; /*多行*/
  }
  
  .flex_around_x {
	justify-content: space-around;
  }
  
  .flex_around_y {
	align-content: space-around; /*多行*/
  }
  
  .grow {
	flex-grow: 1;
  }
  
  .shrink {
	flex-shrink: 0;
  }
  