/*字体设置*/
/********************字体大小**********************/
.fs10{font-size:10px!important}
.fs12{font-size:12px!important}
.fs14{font-size:14px!important}
.fs16{font-size:16px!important}
.fs18{font-size:18px!important}
.fs20{font-size:20px!important}
.fs22{font-size:22px!important}
.fs24{font-size:24px!important}
.fs26{font-size:26px!important}
.fs28{font-size:28px!important}
.fs30{font-size:30px!important}
.fs32{font-size:32px!important}
.fs34{font-size:34px!important}
.fs36{font-size:36px!important}
.fs38{font-size:38px!important}
.fs40{font-size:40px!important}
.fs42{font-size:42px!important}
.fs44{font-size:44px!important}
.fs46{font-size:46px!important}
.fs48{font-size:48px!important}
.fs50{font-size:50px!important}
.fs52{font-size:52px!important}
.fs54{font-size:54px!important}
.fs56{font-size:56px!important}
.fs58{font-size:58px!important}
.fs60{font-size:60px!important}
.fs62{font-size:62px!important}
.fs64{font-size:64px!important}
.fs66{font-size:66px!important}
.fs68{font-size:68px!important}
.fs70{font-size:70px!important}
.fs72{font-size:72px!important}
.fs74{font-size:74px!important}
.fs76{font-size:76px!important}
.fs78{font-size:78px!important}
.fs80{font-size:80px!important}

/*下划线，删除线，上划线*/
.f_del{
	text-decoration: line-through;
}
.f_under{
	text-decoration: underline;
}
/***********字体排版*******************/
.txt_c {
	text-align: center !important;
}
.txt_lf {
	text-align: left !important;
}
.txt_rg {
	text-align: right !important;
}
.f_b{
	font-weight: bold;
}
/*缩进*/
.f_indent_1{/*缩进一字*/
	text-indent: 1em;
}
.f_indent{/*缩进两字*/
	text-indent:2em;
}
.f_indent_3{/*缩进3字*/
	text-indent: 3em
}
/*强制不换行* 父类*/
.f_nowrap{
	white-space : nowrap;
}
.f_wrap{
	word-wrap:break-word;
	word-break:break-all,/* 强制英文单词断行  */
}
.ellipsis{
	/*单行文本溢出*/
  overflow: hidden;
  text-overflow:ellipsis;/*文本溢出显示省略号*/
  white-space:nowrap;/*文本不会换行（单行文本溢出）*/
}
/* white-space: normal|pre|nowrap|pre-wrap|pre-line|inherit;
white-space 属性设置如何处理元素内的空白
normal 默认。空白会被浏览器忽略。
pre 空白会被浏览器保留。其行为方式类似 HTML 中的 pre 标签。
nowrap 文本不会换行，文本会在在同一行上继续，直到遇到 br 标签为止。
pre-wrap 保留空白符序列，但是正常地进行换行。
pre-line 合并空白符序列，但是保留换行符。
inherit 规定应该从父元素继承 white-space 属性的值。

word-wrap: normal|break-word;
word-wrap 属性用来标明是否允许浏览器在单词内进行断句，这是为了防止当一个字符串太长而找不到它的自然断句点时产生溢出现象。
normal: 只在允许的断字点换行(浏览器保持默认处理)
break-word:在长单词或URL地址内部进行换行
word-break: normal|break-all|keep-all;

word-break 属性用来标明怎么样进行单词内的断句。
normal：使用浏览器默认的换行规则。
break-all:允许再单词内换行
keep-all:只能在半角空格或连字符处换行 */
/*************限制行数**************/
[class*='txt_line']{
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}
/************显示两行*****************/
.txt_line2{
	-webkit-line-clamp: 2;
}
/************显示三行*****************/
.txt_line3{
	-webkit-line-clamp: 3;
}

/********************字体大小**********************/


/*行高*/
.lh1n{
	line-height:1!important;
}
.lh2n {
	line-height: 1.8 !important;
}
.lh1n5 {
	line-height: 1.5 !important;
}
.lh24{line-height:24px !important;}
.lh26{line-height:26px !important;}
.lh28{line-height:28px !important;}
.lh30{line-height:30px !important;}
.lh32{line-height:32px !important;}
.lh34{line-height:34px !important;}
.lh36{line-height:36px !important;}
.lh38{line-height:38px !important;}
.lh40{line-height:40px !important;}
.lh42{line-height:42px !important;}
.lh44{line-height:44px !important;}
.lh46{line-height:46px !important;}
.lh48{line-height:48px !important;}
.lh50{line-height:50px !important;}
.lh52{line-height:52px !important;}
.lh54{line-height:54px !important;}
.lh56{line-height:56px !important;}
.lh58{line-height:58px !important;}
.lh60{line-height:60px !important;}
.lh62{line-height:62px !important;}
.lh64{line-height:64px !important;}
.lh68{line-height:68px !important;}
.lh70{line-height:70px !important;}
.lh72{line-height:72px !important;}
.lh74{line-height:74px !important;}
.lh76{line-height:76px !important;}
.lh78{line-height:78px !important;}
.lh80{line-height:80px !important;}
.lh82{line-height:82px !important;}
.lh84{line-height:84px !important;}
.lh86{line-height:86px !important;}
.lh88{line-height:88px !important;}
.lh90{line-height:90px !important;}
.lh92{line-height:92px !important;}
.lh94{line-height:94px !important;}
.lh96{line-height:96px !important;}
.lh98{line-height:98px !important;}
.lh100{line-height:100px !important;}
.lh102{line-height:102px !important;}
.lh104{line-height:104px !important;}
.lh106{line-height:106px !important;}
.lh108{line-height:108px !important;}
.lh110{line-height:110px !important;}
.lh112{line-height:112px !important;}
.lh114{line-height:114px !important;}
.lh116{line-height:116px !important;}
.lh118{line-height:118px !important;}
.lh120{line-height:120px !important;}
.lh122{line-height:122px !important;}
.lh124{line-height:124px !important;}
.lh126{line-height:126px !important;}
.lh128{line-height:128px !important;}
.lh130{line-height:130px !important;}
.lh132{line-height:132px !important;}
.lh134{line-height:134px !important;}
.lh136{line-height:136px !important;}
.lh138{line-height:138px !important;}
.lh140{line-height:140px !important;}