@import "icon_library.css";/*css3图标库*/

[class*="-icon"]{
  display:inline-block;
  /* font-size:3.73333vw; 默认28  */
  width:1em;
  height:1em;
  position: relative;
}
[class*="-icon"]::after,[class*="-icon"]::before{
  content: '';
  box-sizing: border-box;

}
.back-icon::before{
  width:70%;
  height:70%;
  position: absolute;
  left:50%;
  top:50%;
  border-left: .065em solid ;
  border-bottom:.065em solid;
  -webkit-transform:translate(-50%,-50%) rotate(45deg);
  -moz-transform: translate(-50%,-50%) rotate(45deg);
  -ms-transform: translate(-50%,-50%) rotate(45deg);
  -o-transform: translate(-50%,-50%) rotate(45deg);
  transform: translate(-50%,-50%) rotate(45deg);
}
/*向右的箭头*/
.next-icon::before{
  width:70%;
  height:70%;
  position: absolute;
  left:50%;
  top:50%;
  border-left: .125em solid ;
  border-bottom:.125em solid;
  -webkit-transform:translate(-50%,-50%) rotate(225deg);
  -moz-transform: translate(-50%,-50%) rotate(225deg);
  -ms-transform: translate(-50%,-50%) rotate(225deg);
  -o-transform: translate(-50%,-50%) rotate(225deg);
  transform: translate(-50%,-50%) rotate(225deg);
}
/*向右的箭头*/
.down-icon::before{
  width:70%;
  height:70%;
  position: absolute;
  left:50%;
  top:50%;
  border-left: .125em solid ;
  border-bottom:.125em solid;
  -webkit-transform:translate(-50%,-50%) rotate(-45deg);
  -moz-transform: translate(-50%,-50%) rotate(-45deg);
  -ms-transform: translate(-50%,-50%) rotate(-45deg);
  -o-transform: translate(-50%,-50%) rotate(-45deg);
  transform: translate(-50%,-50%) rotate(-45deg);
}
/*向下的三角形***带圆角***/
.upward-icon,.adown-icon{

}
/*向上的三角形**带圆角**/
.upward-icon,.adown-icon{

}

/* 叉 */
.colse-icon::after,.colse-icon::before{
  position: absolute;
  width: 70%;
  height:8%;
  border-radius: 0.04em;
  box-shadow: 0 0 0 .1em inset;
  color:#fff;
  left:50%;
  top:50%;
  -webkit-transform:translate(-50%,-50%) rotate(-45deg);
  -moz-transform: translate(-50%,-50%) rotate(-45deg);
  -ms-transform: translate(-50%,-50%) rotate(-45deg);
  -o-transform: translate(-50%,-50%) rotate(-45deg);
  transform: translate(-50%,-50%) rotate(-45deg);
}
.colse-icon::after{
  -webkit-transform:translate(-50%,-50%) rotate(45deg);
  -moz-transform: translate(-50%,-50%) rotate(45deg);
  -ms-transform: translate(-50%,-50%) rotate(45deg);
  -o-transform: translate(-50%,-50%) rotate(45deg);
  transform: translate(-50%,-50%) rotate(45deg);
}