/*********内边距***************/

.mar_0 {
  margin: 0px !important;
}

.mar_top_0 {
  margin-top: 0px !important;
}

.mar_lf_0 {
  margin-left: 0px !important;
}

.mar_rg_0 {
  margin-right: 0px !important;
}

.mar_btm_0 {
  margin-bottom: 0px !important;
}

.mar_top_btm_0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.mar_lf_rg_0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/****一倍字体大小外边距*****/

.mar_1n {
  margin: 1em !important;
}

.mar_top_1n {
  margin-top: 1em !important;
}

.mar_lf_1n {
  margin-left: 1em !important;
}

.mar_rg_1n {
  margin-right: 1em !important;
}

.mar_btm_1n {
  margin-bottom: 1em !important;
}

.mar_top_btm_1n {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

.mar_lf_rg_1n {
  margin-left: 1em !important;
  margin-right: 1em !important;
}

/****两倍字体大小外边距*****/

.mar_2n {
  margin: 2em !important;
}

.mar_top_2n {
  margin-top: 2em !important;
}

.mar_lf_2n {
  margin-left: 2em !important;
}

.mar_rg_2n {
  margin-right: 2em !important;
}

.mar_btm_2n {
  margin-bottom: 2em !important;
}

.mar_top_btm_2n {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}

.mar_lf_rg_2n {
  margin-left: 2em !important;
  margin-right: 2em !important;
}

.mar_8 {
  margin: 8px !important;
}

.mar_top_8 {
  margin-top: 8px !important;
}

.mar_lf_8 {
  margin-left: 8px !important;
}

.mar_rg_8 {
  margin-right: 8px !important;
}

.mar_btm_8 {
  margin-bottom: 8px !important;
}

.mar_top_btm_8 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.mar_lf_rg_8 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.mar_10 {
  margin: 10px !important;
}

.mar_top_10 {
  margin-top: 10px !important;
}

.mar_lf_10 {
  margin-left: 10px !important;
}

.mar_rg_10 {
  margin-right: 10px !important;
}

.mar_btm_10 {
  margin-bottom: 10px !important;
}

.mar_top_btm_10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.mar_lf_rg_10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.mar_12 {
  margin: 12px !important;
}

.mar_top_12 {
  margin-top: 12px !important;
}

.mar_lf_12 {
  margin-left: 12px !important;
}

.mar_rg_12 {
  margin-right: 12px !important;
}

.mar_btm_12 {
  margin-bottom: 12px !important;
}

.mar_top_btm_12 {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

.mar_lf_rg_12 {
  margin-left: 12px !important;
  margin-right: 12px !important;
}

.mar_14 {
  margin: 14px !important;
}

.mar_top_14 {
  margin-top: 14px !important;
}

.mar_lf_14 {
  margin-left: 14px !important;
}

.mar_rg_14 {
  margin-right: 14px !important;
}

.mar_btm_14 {
  margin-bottom: 14px !important;
}

.mar_top_btm_14 {
  margin-top: 14px !important;
  margin-bottom: 14px !important;
}

.mar_lf_rg_14 {
  margin-left: 14px !important;
  margin-right: 14px !important;
}
.mar_16 {
  margin: 16px !important;
}

.mar_top_16 {
  margin-top: 16px !important;
}

.mar_lf_16 {
  margin-left: 16px !important;
}

.mar_rg_16 {
  margin-right: 16px !important;
}

.mar_btm_16 {
  margin-bottom: 16px !important;
}

.mar_top_btm_16 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.mar_lf_rg_16 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.mar_18 {
  margin: 18px !important;
}

.mar_top_18 {
  margin-top: 18px !important;
}

.mar_lf_18 {
  margin-left: 18px !important;
}

.mar_rg_18 {
  margin-right: 18px !important;
}

.mar_btm_18 {
  margin-bottom: 18px !important;
}

.mar_top_btm_18 {
  margin-top: 18px !important;
  margin-bottom: 18px !important;
}

.mar_lf_rg_18 {
  margin-left: 18px !important;
  margin-right: 18px !important;
}

.mar_20 {
  margin: 20px !important;
}

.mar_top_20 {
  margin-top: 20px !important;
}

.mar_lf_20 {
  margin-left: 20px !important;
}

.mar_rg_20 {
  margin-right: 20px !important;
}

.mar_btm_20 {
  margin-bottom: 20px !important;
}

.mar_top_btm_20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.mar_lf_rg_20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.mar_22 {
  margin: 22px !important;
}

.mar_top_22 {
  margin-top: 22px !important;
}

.mar_lf_22 {
  margin-left: 22px !important;
}

.mar_rg_22 {
  margin-right: 22px !important;
}

.mar_btm_22 {
  margin-bottom: 22px !important;
}

.mar_top_btm_22 {
  margin-top: 22px !important;
  margin-bottom: 22px !important;
}

.mar_lf_rg_22 {
  margin-left: 22px !important;
  margin-right: 22px !important;
}

.mar_24 {
  margin: 24px !important;
}

.mar_top_24 {
  margin-top: 24px !important;
}

.mar_lf_24 {
  margin-left: 24px !important;
}

.mar_rg_24 {
  margin-right: 24px !important;
}

.mar_btm_24 {
  margin-bottom: 24px !important;
}

.mar_top_btm_24 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.mar_lf_rg_24 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}

.mar_26 {
  margin: 26px !important;
}

.mar_top_26 {
  margin-top: 26px !important;
}

.mar_lf_26 {
  margin-left: 26px !important;
}

.mar_rg_26 {
  margin-right: 26px !important;
}

.mar_btm_26 {
  margin-bottom: 26px !important;
}

.mar_top_btm_26 {
  margin-top: 26px !important;
  margin-bottom: 26px !important;
}

.mar_lf_rg_26 {
  margin-left: 26px !important;
  margin-right: 26px !important;
}

.mar_28 {
  margin: 28px !important;
}

.mar_top_28 {
  margin-top: 28px !important;
}

.mar_lf_28 {
  margin-left: 28px !important;
}

.mar_rg_28 {
  margin-right: 28px !important;
}

.mar_btm_28 {
  margin-bottom: 28px !important;
}

.mar_top_btm_28 {
  margin-top: 28px !important;
  margin-bottom: 28px !important;
}

.mar_lf_rg_28 {
  margin-left: 28px !important;
  margin-right: 28px !important;
}

.mar_30 {
  margin: 30px !important;
}

.mar_top_30 {
  margin-top: 30px !important;
}

.mar_lf_30 {
  margin-left: 30px !important;
}

.mar_rg_30 {
  margin-right: 30px !important;
}

.mar_btm_30 {
  margin-bottom: 30px !important;
}

.mar_top_btm_30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.mar_lf_rg_30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.mar_32 {
  margin: 32px !important;
}

.mar_top_32 {
  margin-top: 32px !important;
}

.mar_lf_32 {
  margin-left: 32px !important;
}

.mar_rg_32 {
  margin-right: 32px !important;
}

.mar_btm_32 {
  margin-bottom: 32px !important;
}

.mar_top_btm_32 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.mar_lf_rg_32 {
  margin-left: 32px !important;
  margin-right: 32px !important;
}

.mar_34 {
  margin: 34px !important;
}

.mar_top_34 {
  margin-top: 34px !important;
}

.mar_lf_34 {
  margin-left: 34px !important;
}

.mar_rg_34 {
  margin-right: 34px !important;
}

.mar_btm_34 {
  margin-bottom: 34px !important;
}

.mar_top_btm_34 {
  margin-top: 34px !important;
  margin-bottom: 34px !important;
}

.mar_lf_rg_34 {
  margin-left: 34px !important;
  margin-right: 34px !important;
}

.mar_36 {
  margin: 36px !important;
}

.mar_top_36 {
  margin-top: 36px !important;
}

.mar_lf_36 {
  margin-left: 36px !important;
}

.mar_rg_36 {
  margin-right: 36px !important;
}

.mar_btm_36 {
  margin-bottom: 36px !important;
}

.mar_top_btm_36 {
  margin-top: 36px !important;
  margin-bottom: 36px !important;
}

.mar_lf_rg_36 {
  margin-left: 36px !important;
  margin-right: 36px !important;
}

.mar_38 {
  margin: 38px !important;
}

.mar_top_38 {
  margin-top: 38px !important;
}

.mar_lf_38 {
  margin-left: 38px !important;
}

.mar_rg_38 {
  margin-right: 38px !important;
}

.mar_btm_38 {
  margin-bottom: 38px !important;
}

.mar_top_btm_38 {
  margin-top: 38px !important;
  margin-bottom: 38px !important;
}

.mar_lf_rg_38 {
  margin-left: 38px !important;
  margin-right: 38px !important;
}

.mar_40 {
  margin: 40px !important;
}

.mar_top_40 {
  margin-top: 40px !important;
}

.mar_lf_40 {
  margin-left: 40px !important;
}

.mar_rg_40 {
  margin-right: 40px !important;
}

.mar_btm_40 {
  margin-bottom: 40px !important;
}

.mar_top_btm_40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.mar_lf_rg_40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}