.pad_0{
  padding: 0 !important;
}
.pad_lf_0{
  padding-left: 0 !important;
}
.pad_rg_0{
  padding-right: 0 !important;
}
.pad_top_0{
  padding-top: 0 !important;
}
.pad_btm_0{
  padding-bottom: 0 !important;
}
.pad_lf_rg_0{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.pad_top_btm_0{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.pad_8{padding:8px}
.pad_lf_8{padding-left:8px}
.pad_rg_8{padding-right:8px}
.pad_top_8{padding-top:8px}
.pad_btm_8{padding-bottom:8px}
.pad_lf_rg_8{padding-left:8px;padding-right:8px}
.pad_top_btm_8{padding-top:8px;padding-bottom:8px}
.pad_10{padding:10px}
.pad_lf_10{padding-left:10px}
.pad_rg_10{padding-right:10px}
.pad_top_10{padding-top:10px}
.pad_btm_10{padding-bottom:10px}
.pad_lf_rg_10{padding-left:10px;padding-right:10px}
.pad_top_btm_10{padding-top:10px;padding-bottom:10px}
.pad_12{padding:12px}
.pad_lf_12{padding-left:12px}
.pad_rg_12{padding-right:12px}
.pad_top_12{padding-top:12px}
.pad_btm_12{padding-bottom:12px}
.pad_lf_rg_12{padding-left:12px;padding-right:12px}
.pad_top_btm_12{padding-top:12px;padding-bottom:12px}
.pad_14{padding:14px}
.pad_lf_14{padding-left:14px}
.pad_rg_14{padding-right:14px}
.pad_top_14{padding-top:14px}
.pad_btm_14{padding-bottom:14px}
.pad_lf_rg_14{padding-left:14px;padding-right:14px}
.pad_top_btm_14{padding-top:14px;padding-bottom:14px}
.pad_16{padding:16px}
.pad_lf_16{padding-left:16px}
.pad_rg_16{padding-right:16px}
.pad_top_16{padding-top:16px}
.pad_btm_16{padding-bottom:16px}
.pad_lf_rg_16{padding-left:16px;padding-right:16px}
.pad_top_btm_16{padding-top:16px;padding-bottom:16px}
.pad_18{padding:18px}
.pad_lf_18{padding-left:18px}
.pad_rg_18{padding-right:18px}
.pad_top_18{padding-top:18px}
.pad_btm_18{padding-bottom:18px}
.pad_lf_rg_18{padding-left:18px;padding-right:18px}
.pad_top_btm_18{padding-top:18px;padding-bottom:18px}
.pad_20{padding:20px}
.pad_lf_20{padding-left:20px}
.pad_rg_20{padding-right:20px}
.pad_top_20{padding-top:20px}
.pad_btm_20{padding-bottom:20px}
.pad_lf_rg_20{padding-left:20px;padding-right:20px}
.pad_top_btm_20{padding-top:20px;padding-bottom:20px}
.pad_22{padding:22px}
.pad_lf_22{padding-left:22px}
.pad_rg_22{padding-right:22px}
.pad_top_22{padding-top:22px}
.pad_btm_22{padding-bottom:22px}
.pad_lf_rg_22{padding-left:22px;padding-right:22px}
.pad_top_btm_22{padding-top:22px;padding-bottom:22px}
.pad_24{padding:24px}
.pad_lf_24{padding-left:24px}
.pad_rg_24{padding-right:24px}
.pad_top_24{padding-top:24px}
.pad_btm_24{padding-bottom:24px}
.pad_lf_rg_24{padding-left:24px;padding-right:24px}
.pad_top_btm_24{padding-top:24px;padding-bottom:24px}
.pad_26{padding:26px}
.pad_lf_26{padding-left:26px}
.pad_rg_26{padding-right:26px}
.pad_top_26{padding-top:26px}
.pad_btm_26{padding-bottom:26px}
.pad_lf_rg_26{padding-left:26px;padding-right:26px}
.pad_top_btm_26{padding-top:26px;padding-bottom:26px}
.pad_28{padding:28px}
.pad_lf_28{padding-left:28px}
.pad_rg_28{padding-right:28px}
.pad_top_28{padding-top:28px}
.pad_btm_28{padding-bottom:28px}
.pad_lf_rg_28{padding-left:28px;padding-right:28px}
.pad_top_btm_28{padding-top:28px;padding-bottom:28px}
.pad_30{padding:30px}
.pad_lf_30{padding-left:30px}
.pad_rg_30{padding-right:30px}
.pad_top_30{padding-top:30px}
.pad_btm_30{padding-bottom:30px}
.pad_lf_rg_30{padding-left:30px;padding-right:30px}
.pad_top_btm_30{padding-top:30px;padding-bottom:30px}
.pad_32{padding:32px}
.pad_lf_32{padding-left:32px}
.pad_rg_32{padding-right:32px}
.pad_top_32{padding-top:32px}
.pad_btm_32{padding-bottom:32px}
.pad_lf_rg_32{padding-left:32px;padding-right:32px}
.pad_top_btm_32{padding-top:32px;padding-bottom:32px}
.pad_34{padding:34px}
.pad_lf_34{padding-left:34px}
.pad_rg_34{padding-right:34px}
.pad_top_34{padding-top:34px}
.pad_btm_34{padding-bottom:34px}
.pad_lf_rg_34{padding-left:34px;padding-right:34px}
.pad_top_btm_34{padding-top:34px;padding-bottom:34px}
.pad_36{padding:36px}
.pad_lf_36{padding-left:36px}
.pad_rg_36{padding-right:36px}
.pad_top_36{padding-top:36px}
.pad_btm_36{padding-bottom:36px}
.pad_lf_rg_36{padding-left:36px;padding-right:36px}
.pad_top_btm_36{padding-top:36px;padding-bottom:36px}
.pad_38{padding:38px}
.pad_lf_38{padding-left:38px}
.pad_rg_38{padding-right:38px}
.pad_top_38{padding-top:38px}
.pad_btm_38{padding-bottom:38px}
.pad_lf_rg_38{padding-left:38px;padding-right:38px}
.pad_top_btm_38{padding-top:38px;padding-bottom:38px}
.pad_40{padding:40px}
.pad_lf_40{padding-left:40px}
.pad_rg_40{padding-right:40px}
.pad_top_40{padding-top:40px}
.pad_btm_40{padding-bottom:40px}
.pad_lf_rg_40{padding-left:40px;padding-right:40px}
.pad_top_btm_40{padding-top:40px;padding-bottom:40px}
