/*长宽比1比1*/
.size20{width:20px;height:20px;}
.size22{width:22px;height:22px;}
.size24{width:24px;height:24px;}
.size26{width:26px;height:26px;}
.size28{width:28px;height:28px;}
.size30{width:30px;height:30px;}
.size32{width:32px;height:32px;}
.size34{width:34px;height:34px;}
.size36{width:36px;height:36px;}
.size38{width:38px;height:38px;}
.size40{width:40px;height:40px;}
.size42{width:42px;height:42px;}
.size44{width:44px;height:44px;}
.size46{width:46px;height:46px;}
.size48{width:48px;height:48px;}
.size50{width:50px;height:50px;}
.size52{width:52px;height:52px;}
.size54{width:54px;height:54px;}
.size56{width:56px;height:56px;}
.size58{width:58px;height:58px;}
.size60{width:60px;height:60px;}
.size62{width:62px;height:62px;}
.size64{width:64px;height:64px;}
.size66{width:66px;height:66px;}
.size68{width:68px;height:68px;}
.size70{width:70px;height:70px;}
.size72{width:72px;height:72px;}
.size74{width:74px;height:74px;}
.size76{width:76px;height:76px;}
.size78{width:78px;height:78px;}
.size80{width:80px;height:80px;}
.size82{width:82px;height:82px;}
.size84{width:84px;height:84px;}
.size86{width:86px;height:86px;}
.size88{width:88px;height:88px;}
.size90{width:90px;height:90px;}
.size92{width:92px;height:92px;}
.size94{width:94px;height:94px;}
.size96{width:96px;height:96px;}
.size98{width:98px;height:98px;}
.size100{width:100px;height:100px;}


.size128{
	width:128px;
	height:128px;
}
.size152{
	width:152px;
	height:152px;
}
.size156{
	width:156px;
	height:156px;
}
.size160{
	width:160px;
	height:160px;
}
.size172{
	width:172px;
	height:172px;
}
.size200{
	width:200px;
	height:200px;
}
.size270{
	width:270px;
	height:270px;
}
.size371{
	width:371px;
	height:371px;
}
/* *********************************************我是分割线********************************************** */
.h_100{
	height:100% !important;
}
.h_92 {/*两倍图690*/
	height: 92%;
}
.h_84 {/*两倍图630*/
	height: 84%;
}
.h_50 {/*两列*/
	height: 50%;
}
.h_33{/*3列*/
	height:33.3333%;
}
.h_25{/*4列*/
	height:25%;
}
.h_20{/*5列*/
	height:20%;
}
/* *********************************************我是分割线********************************************** */
.h30{height:30px;}
.h32{height:32px;}
.h34{height:34px;}
.h36{height:36px;}
.h38{height:38px;}
.h40{height:40px;}
.h42{height:42px;}
.h44{height:44px;}
.h46{height:46px;}
.h48{height:48px;}
.h50{height:50px;}
.h52{height:52px;}
.h54{height:54px;}
.h56{height:56px;}
.h58{height:58px;}
.h60{height:60px;}
.h62{height:62px;}
.h64{height:64px;}
.h66{height:66px;}
.h68{height:68px;}
.h70{height:70px;}
.h72{height:72px;}
.h74{height:74px;}
.h76{height:76px;}
.h78{height:78px;}
.h80{height:80px;}
.h82{height:82px;}
.h84{height:84px;}
.h86{height:86px;}
.h88{height:88px;}
.h90{height:90px;}
.h92{height:92px;}
.h94{height:94px;}
.h96{height:96px;}
.h98{height:98px;}
.h100{height:100px;}

.h192{height:192px;}

/* *********************************************我是分割线********************************************** */
.min_h30{min-height:30px;}
.min_h32{min-height:32px;}
.min_h34{min-height:34px;}
.min_h36{min-height:36px;}
.min_h38{min-height:38px;}
.min_h40{min-height:40px;}
.min_h42{min-height:42px;}
.min_h44{min-height:44px;}
.min_h46{min-height:46px;}
.min_h48{min-height:48px;}
.min_h50{min-height:50px;}
.min_h52{min-height:52px;}
.min_h54{min-height:54px;}
.min_h56{min-height:56px;}
.min_h58{min-height:58px;}
.min_h60{min-height:60px;}
.min_h62{min-height:62px;}
.min_h64{min-height:64px;}
.min_h66{min-height:66px;}
.min_h68{min-height:68px;}
.min_h70{min-height:70px;}
.min_h72{min-height:72px;}
.min_h74{min-height:74px;}
.min_h76{min-height:76px;}
.min_h78{min-height:78px;}
.min_h80{min-height:80px;}
.min_h82{min-height:82px;}
.min_h84{min-height:84px;}
.min_h86{min-height:86px;}
.min_h88{min-height:88px;}
.min_h90{min-height:90px;}
.min_h92{min-height:92px;}
.min_h94{min-height:94px;}
.min_h96{min-height:96px;}
.min_h98{min-height:98px;}
.min_h100{min-height:100px;}
/* *********************************************我是分割线********************************************** */
.max_h30{max-height:30px;}
.max_h32{max-height:32px;}
.max_h34{max-height:34px;}
.max_h36{max-height:36px;}
.max_h38{max-height:38px;}
.max_h40{max-height:40px;}
.max_h42{max-height:42px;}
.max_h44{max-height:44px;}
.max_h46{max-height:46px;}
.max_h48{max-height:48px;}
.max_h50{max-height:50px;}
.max_h52{max-height:52px;}
.max_h54{max-height:54px;}
.max_h56{max-height:56px;}
.max_h58{max-height:58px;}
.max_h60{max-height:60px;}
.max_h62{max-height:62px;}
.max_h64{max-height:64px;}
.max_h66{max-height:66px;}
.max_h68{max-height:68px;}
.max_h70{max-height:70px;}
.max_h72{max-height:72px;}
.max_h74{max-height:74px;}
.max_h76{max-height:76px;}
.max_h78{max-height:78px;}
.max_h80{max-height:80px;}
.max_h82{max-height:82px;}
.max_h84{max-height:84px;}
.max_h86{max-height:86px;}
.max_h88{max-height:88px;}
.max_h90{max-height:90px;}
.max_h92{max-height:92px;}
.max_h94{max-height:94px;}
.max_h96{max-height:96px;}
.max_h98{max-height:98px;}
.max_h100{max-height:100px;}

.w_100 {
	width: 100% !important;
}
.w_92 {/*两倍图690*/
	
	width: 92% !important;
	margin-left:auto;
	margin-right:auto;
}
.w_84 {/*两倍图630*/
	
	display: inline-block;
	margin-left:auto;
	margin-right:auto;
}
.w_50 {/*两列*/
	width: 50% !important;
}
.w_33{/*3列*/
	width:33.3333%  !important;
}
.w_25{/*4列*/
width:25%  !important;
}
.w_20{/*5列*/
width:20%  !important;
}

.w100{width:100px;}
.w110{width:110px;}
.w120{width:120px;}
.w130{width:130px;}
.w140{width:140px;}
.w150{width:150px;}
.w152{width:152px;}
.w156{width:156px;}
.w160{width:160px;}
.w168{width:168px;}
.w170{width:170px;}
.w180{width:180px;}
.w190{width:190px;}
.w200{width:200px;}
.w210{width:210px;}

.w216{width:216px;}

.w220{width:220px;}

.w280{width:280px;}

.w371{width:371px;}

.w450{width:450px;}

.w520{width:520px;}

.w558{width:558px;}
