/*长宽比1比1*/
.size_20{width:20rpx !important;height:20rpx !important;}
.size_22{width:22rpx !important;height:22rpx !important;}
.size_24{width:24rpx !important;height:24rpx !important;}
.size_26{width:26rpx !important;height:26rpx !important;}
.size_28{width:28rpx !important;height:28rpx !important;}
.size_30{width:30rpx !important;height:30rpx !important;}
.size_32{width:32rpx !important;height:32rpx !important;}
.size_34{width:34rpx !important;height:34rpx !important;}
.size_36{width:36rpx !important;height:36rpx !important;}
.size_38{width:38rpx !important;height:38rpx !important;}
.size_40{width:40rpx !important;height:40rpx !important;}
.size_42{width:42rpx !important;height:42rpx !important;}
.size_44{width:44rpx !important;height:44rpx !important;}
.size_46{width:46rpx !important;height:46rpx !important;}
.size_48{width:48rpx !important;height:48rpx !important;}
.size_50{width:50rpx !important;height:50rpx !important;}
.size_52{width:52rpx !important;height:52rpx !important;}
.size_54{width:54rpx !important;height:54rpx !important;}
.size_56{width:56rpx !important;height:56rpx !important;}
.size_58{width:58rpx !important;height:58rpx !important;}
.size_60{width:60rpx !important;height:60rpx !important;}
.size_62{width:62rpx !important;height:62rpx !important;}
.size_64{width:64rpx !important;height:64rpx !important;}
.size_66{width:66rpx !important;height:66rpx !important;}
.size_68{width:68rpx !important;height:68rpx !important;}
.size_70{width:70rpx !important;height:70rpx !important;}
.size_72{width:72rpx !important;height:72rpx !important;}
.size_74{width:74rpx !important;height:74rpx !important;}
.size_76{width:76rpx !important;height:76rpx !important;}
.size_78{width:78rpx !important;height:78rpx !important;}
.size_80{width:80rpx !important;height:80rpx !important;}
.size_82{width:82rpx !important;height:82rpx !important;}
.size_84{width:84rpx !important;height:84rpx !important;}
.size_86{width:86rpx !important;height:86rpx !important;}
.size_88{width:88rpx !important;height:88rpx !important;}
.size_90{width:90rpx !important;height:90rpx !important;}
.size_92{width:92rpx !important;height:92rpx !important;}
.size_94{width:94rpx !important;height:94rpx !important;}
.size_96{width:96rpx !important;height:96rpx !important;}
.size_98{width:98rpx !important;height:98rpx !important;}
.size_100{width:100rpx !important;height:100rpx !important;}

.size_182{width: 182rpx !important;height: 182rpx !important;}

.size_220{width: 220rpx !important;height: 220rpx !important;}
/* *********************************************我是分割线********************************************** */
.h100{
	height:100% !important;
}
.h92 {/*两倍图690*/
	height: 92%;
}
.h84 {/*两倍图630*/
	height: 84%;
}
.h50 {/*两列*/
	height: 50%;
}
.h33{/*3列*/
	height:33.3333%;
}
.h25{/*4列*/
	height:25%;
}
.h20{/*5列*/
	height:20%;
}
/* *********************************************我是分割线********************************************** */.h40{height:40rpx !important;}
.h30{height:30rpx !important;}
.h32{height:32rpx !important;}
.h34{height:34rpx !important;}
.h36{height:36rpx !important;}
.h38{height:38rpx !important;}
.h40{height:40rpx !important;}
.h42{height:42rpx !important;}
.h44{height:44rpx !important;}
.h46{height:46rpx !important;}
.h48{height:48rpx !important;}
.h50{height:50rpx !important;}
.h52{height:52rpx !important;}
.h54{height:54rpx !important;}
.h56{height:56rpx !important;}
.h58{height:58rpx !important;}
.h60{height:60rpx !important;}
.h62{height:62rpx !important;}
.h64{height:64rpx !important;}
.h66{height:66rpx !important;}
.h68{height:68rpx !important;}
.h70{height:70rpx !important;}
.h72{height:72rpx !important;}
.h74{height:74rpx !important;}
.h76{height:76rpx !important;}
.h78{height:78rpx !important;}
.h80{height:80rpx !important;}
.h82{height:82rpx !important;}
.h84{height:84rpx !important;}
.h86{height:86rpx !important;}
.h88{height:88rpx !important;}
.h90{height:90rpx !important;}
.h92{height:92rpx !important;}
.h94{height:94rpx !important;}
.h96{height:96rpx !important;}
.h98{height:98rpx !important;}
.h100{height:100rpx !important;}
/* *********************************************我是分割线********************************************** */
.min_h30{height:30rpx !important;}
.min_h32{height:32rpx !important;}
.min_h34{height:34rpx !important;}
.min_h36{height:36rpx !important;}
.min_h38{height:38rpx !important;}
.min_h40{height:40rpx !important;}
.min_h42{height:42rpx !important;}
.min_h44{height:44rpx !important;}
.min_h46{height:46rpx !important;}
.min_h48{height:48rpx !important;}
.min_h50{height:50rpx !important;}
.min_h52{height:52rpx !important;}
.min_h54{height:54rpx !important;}
.min_h56{height:56rpx !important;}
.min_h58{height:58rpx !important;}
.min_h60{height:60rpx !important;}
.min_h62{height:62rpx !important;}
.min_h64{height:64rpx !important;}
.min_h66{height:66rpx !important;}
.min_h68{height:68rpx !important;}
.min_h70{height:70rpx !important;}
.min_h72{height:72rpx !important;}
.min_h74{height:74rpx !important;}
.min_h76{height:76rpx !important;}
.min_h78{height:78rpx !important;}
.min_h80{height:80rpx !important;}
.min_h82{height:82rpx !important;}
.min_h84{height:84rpx !important;}
.min_h86{height:86rpx !important;}
.min_h88{height:88rpx !important;}
.min_h90{height:90rpx !important;}
.min_h92{height:92rpx !important;}
.min_h94{height:94rpx !important;}
.min_h96{height:96rpx !important;}
.min_h98{height:98rpx !important;}
.min_h100{height:100rpx !important;}
/* *********************************************我是分割线********************************************** */
.max_h30{height:30rpx !important;}
.max_h32{height:32rpx !important;}
.max_h34{height:34rpx !important;}
.max_h36{height:36rpx !important;}
.max_h38{height:38rpx !important;}
.max_h40{height:40rpx !important;}
.max_h42{height:42rpx !important;}
.max_h44{height:44rpx !important;}
.max_h46{height:46rpx !important;}
.max_h48{height:48rpx !important;}
.max_h50{height:50rpx !important;}
.max_h52{height:52rpx !important;}
.max_h54{height:54rpx !important;}
.max_h56{height:56rpx !important;}
.max_h58{height:58rpx !important;}
.max_h60{height:60rpx !important;}
.max_h62{height:62rpx !important;}
.max_h64{height:64rpx !important;}
.max_h66{height:66rpx !important;}
.max_h68{height:68rpx !important;}
.max_h70{height:70rpx !important;}
.max_h72{height:72rpx !important;}
.max_h74{height:74rpx !important;}
.max_h76{height:76rpx !important;}
.max_h78{height:78rpx !important;}
.max_h80{height:80rpx !important;}
.max_h82{height:82rpx !important;}
.max_h84{height:84rpx !important;}
.max_h86{height:86rpx !important;}
.max_h88{height:88rpx !important;}
.max_h90{height:90rpx !important;}
.max_h92{height:92rpx !important;}
.max_h94{height:94rpx !important;}
.max_h96{height:96rpx !important;}
.max_h98{height:98rpx !important;}
.max_h100{height:100rpx !important;}

.w_100 {
	width: 100% !important;
}
.w_92 {/*两倍图690*/
	
	width: 92% !important;
	margin-left:auto;
	margin-right:auto;
}
.w_84 {/*两倍图630*/
	
	display: inline-block;
	margin-left:auto;
	margin-right:auto;
}
.w_50 {/*两列*/
	width: 50% !important;
}
.w_33{/*3列*/
	width:33.3333%  !important;
}
.w_25{/*4列*/
width:25%  !important;
}
.w_20{/*5列*/
width:20%  !important;
}

/* *********************************************我是分割线********************************************** */
.w100{width:100px!important;}
.w110{width:110px!important;}
.w120{width:120px!important;}
.w130{width:130px!important;}
.w140{width:140px!important;}
.w150{width:150px!important;}
.w152{width:152px!important;}
.w156{width:156px!important;}
.w160{width:160px!important;}
.w168{width:168px!important;}
.w170{width:170px!important;}
.w180{width:180px!important;}
.w190{width:190px!important;}
.w200{width:200px!important;}
.w210{width:210px!important;}

.w216{width:216px!important;}

.w220{width:220px!important;}

.w280{width:280px!important;}

.w371{width:371px!important;}

.w450{width:450px!important;}

.w520{width:520px!important;}

.w558{width:558px!important;}

/* *********************************************我是分割线********************************************** */